[Desktop Entry]
Version=1.0
Type=Application
Categories=Qt;Graphics;Utility;
Name=sapulatar-qt
Comment="Simple Backround Cleaner"
TryExec=sapulatar-qt
Exec=sapulatar-qt %F
Icon=sapulatar-qt.png
MimeType=inode/directory;image/jpeg;image/png;image/x-webp;image/webp;image/bmp;
X-KDE-Library=sapulatar
X-KDE-FactoryName=devlovers
X-KDE-ServiceType=utils
